# https://www.mkyong.com/spring-boot/spring-boot-spring-data-jpa-oracle-example/
# create and drop tables and sequences, loads import.sql
spring.jpa.hibernate.ddl-auto=create-drop


# Oracle settings
spring.datasource.url=jdbc:mysql://localhost:3306/word

spring.datasource.username=root
spring.datasource.password=
spring.datasource.driver-class-oracle.jdbc.driver.OracleDriver

spring.datasource.hikari.connection-timeout=60000
spring.datasource.hikari.maximum-pool-size=5

# logging
logging.pattern.console=%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n
logging.level.org.hibernate.SQL=debug
#logging.level.org.hibernate.type.descriptor.sql=trace
logging.level.=error

