

* {
	margin:0;
	padding:0;
	position: relative;
	box-sizing: border-box;
}

*:visited{
	color: blue;
}


body {
	background-image: url('bg.jpg');
	background-repeat:repeat-y;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
}

textarea[name="zawartosc"]{
  border: 3px solid grey;
  width: 500px;
  height:100px;
}

input[name="signIn"] {
    border: 1dpx solid black;
    text-align: center;
    display: inline-block;
    font-style: italic;
    width: 150px;
    height: 30px;
    margin:auto;
	  border-radius: 8px;
}

input:not([name="signIn"])[type="submit"]  {
	border: 1dpx solid black;
	text-align: center;
	display: inline-block;
	font-style: italic;
	padding: 0px 10px 0px 10px;
	height: 30px;
	margin:auto;
	max-width: 300px;
	border-radius: 8px;
}

/*form[name="sendToPwpw"]
{
	text-decoration: underline;
}*/



#header, #topmenu, #content, #footer {
	margin: 0px auto;
	height: auto;
	width: 80%;
	border: 1px solid black;
	background: #a9bcd0;
}

#content, #leftmenu {
	height: 800px;
}

#header {
	text-align: center;
	height: 200px
}

#topmenu {
	text-align: center;
	padding: 10px 0;
}

#topmenu ul li {
	display: inline;
	margin: 10px 10px;
}

#topmenu a {
	display: inline;
	margin-right: 20px ;
}


#leftmenu {
	width: 10%;
	left: 10%;
	border: 1px solid black;
	float: left;
	text-align: center;
	padding: 20px 0;
	background:  #a9bcd0;
}



#content {
	float: right;
	width: 70%;
	right: 10%;
	overflow: auto;
	padding: 25px;
	text-align: justify;
	letter-spacing: 0.5mm;
	background: #d8dbe2;
	text-align: center;
}



#content [atrybut] {
	background: inherit;
}


